params {
  // spreadsheet with qPCR data
  qpcr_data  = "$projectDir/data/all_qPCR_data.xlsx"

  // a directory containing manually created or edited figures
  edited_figures  = "$projectDir/edited_figures/"

  // the paper Quarto markdown file
  paper_dir  = "$projectDir/paper/"

  // paths to input files needed for quarto render 
  // the paths here need to match the corresponding paths in the quarto header yaml
  qmd        = "$paper_dir/paper.qmd"
  refs       = "$paper_dir/references.bib"
  csl        = "$paper_dir/asm.csl"
  custom_doc = "$paper_dir/custom-reference-doc.docx"
}

 
// use singularity to handle dependencies
singularity {

  enabled    = true
  autoMounts = true
  cacheDir   = "$HOME/singularity_cacheDir"

  // Explicitly forces your host home directory to bind to the container home
  runOptions = '-B $HOME:$HOME' 

  // runOptions = '-B $SINGULARITY_TMPDIR:/tmp -B $SINGULARITY_TMPDIR:/scratch'
  //Used to allow Singularity to access bashrc variables
  // envWhitelist = ['SINGULARITY_TMPDIR']
}
